*{
font-family: 'Lilita One', cursive;
}
html{
	height: 100%;
}
body
{
background: #0cebeb;  
background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  
background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); 
}

#content{
	text-align: center;
	padding-top: 20%;
	color: whitesmoke;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	                      0px 8px 13px rgba(0, 0, 0, 0.1),
	                      0px 18px 23px rgba(0, 0, 0, 0.1);
}
#btn{
    text-shadow: none;
}

.fa-meetup{
color: #28b485;
}
.fa-meetup:hover{
color:#7ed56f;
}
.fa-user-plus{
color: whitesmoke;
}
.fa-user{
color: whitesmoke;
}
.fa-heart{
color: crimson;
}
 .btn-danger  {
    background-color:dodgerblue!important;
    border:none !important;
    border-radius: 2px !important;
     transition: 0.3s !important;
     margin-top: 20px !important;
}
 .btn-danger:hover{
	background:  rgb(0, 119, 255)!important;

	color: lightcyan !important;
}
.navbar-brand{
    color: whitesmoke !important;
}


