*{
font-family: 'Lilita One', cursive;
}
html{
	height: 100%;
}
h1{
    color: #2d2d2d;
}
body
{
background: #f2709c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#content{
	text-align: center;
	padding-top: 20%;
	color: whitesmoke;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	                      0px 8px 13px rgba(0, 0, 0, 0.1),
	                      0px 18px 23px rgba(0, 0, 0, 0.1);
}
#btn{
    text-shadow: none;
}
#container
{
    background-color: rgb(250,250,240);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 12px;
    
}

.fa-meetup{
color:#ff9472;
transition:0.5s;
}
.fa-meetup:hover{
color:#f2709c;
}
.fa-user-plus{
color: whitesmoke;
}
.fa-user{
color: whitesmoke;
}
.fa-heart{
color: crimson;
}
 .btn-danger  {
    background-color:dodgerblue!important;
    border:none !important;
    border-radius: 2px !important;
     transition: 0.3s !important;
     margin-top: 20px !important;
}
 .btn-danger:hover{
	background:  rgb(0, 119, 255)!important;

	color: lightcyan !important;
} 
.btn-info  {
    background-color:dodgerblue !important;
    border:none !important;
    border-radius: 2px !important;
     transition: 0.3s !important;
     margin-top: 20px !important;
     margin-left: 6px;
     margin-right: 6px;
}
 .btn-info:hover{
	background:  rgb(0, 119, 255)!important;

	color: lightcyan !important;
}
.navbar-brand{
    color: whitesmoke !important;
}
.col-centered{
    float: none !important;
    margin:30px auto;
}
.fa-smile-wink,.fa-laugh-wink{
    font-size: 25px;
    color:#ff6f00;
}
.fa-quote-right,.fa-quote-left{
    font-size: 25px;
    margin: 0 10px;
}




