html {
  font-size: 16px;
}

#habitInput {
  padding: 10px;
}
input {
  font-size: 12px;
}
h2 {
  font-size: 2rem;
}
table tbody tr td {
  font-size: 1.2rem;
}
.paper-btn,
[type="button"],
button {
  padding: 0.5rem;
}
#days {
  font-size: 1.5rem;
}
