@font-face {
  font-family: "from-beyond";
  src: url("../fonts/From Beyond.ttf");
}
@font-face {
  font-family: "oswald-medium";
  src: url("../fonts/Oswald-Medium.ttf");
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "open-sans-semibold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
#nav-link{
    color: #eee !important;
    font-family: 'from-beyond', sans-serif;
    letter-spacing: 2px;
    transition: 0.3s;
    text-shadow: 0 5px rgba(0,0,0,0.2);
}
#nav-link:hover{
 color: #63ffd9 !important;
 text-decoration: underline;
}
.navbar-brand{
  font-family: 'from-beyond', sans-serif;
  font-size: 1.8rem;
  color: #63ffd9 !important;
}
.navbar-brand span{
  text-shadow: 0 5px rgba(0,0,0,0.5);
}
.navbar-expand-md{
   box-shadow: 0 0 7px rgba(0,0,0,0.3);
   background-color: #212121;
   opacity: 0.8;
}
.navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 20px;
  }
.navbar-toggler{
    outline: none !important;
    border-radius: 0px !important;
    box-shadow: 0 3px rgba(0,0,0,0.3);
}
.btn-outline-secondary{
  font-family:'Oswald-Medium', sans-serif;
  border-radius: 0px !important;
  border: 0px !important;
  background-color: #eee;
  color: #212121;
  box-shadow: 0 5px rgba(0,0,0,0.5) !important;
  outline: none !important;
  transition: 0.3s;
  margin-top: 30px;
}
.btn-outline-secondary:hover{
   color: #212121 !important;
   background-color: #63ffd9 !important;
   box-shadow: 0 5px rgba(0,0,0,0.5) !important;
}
.btn-outline-secondary:active{
    transform: translateY(2px);
    box-shadow: 0 3px rgba(0,0,0,0.5) !important;
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}
@media only screen and (min-width: 768px) {
  header.masthead .site-heading {
    padding: 200px 0;
  }
}
header.masthead .site-heading h1{
font-family:'Oswald-Medium', sans-serif;
text-shadow: 0 5px rgba(0,0,0,0.3);
}

.post-preview .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family:'Oswald-Medium', sans-serif;
}

.post-preview .post-subtitle {
  font-family: 'open-sans', sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}
footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'open-sans-semibold', sans-serif;
  color: #212121 !important;
  margin-top: 20px;
}
.fa-circle{
  color: #212121;
}
.fa-github:hover{
  color: #63ffd9 !important;
}.fa-whatsapp:hover{
  color: #63ffd9 !important;
}.fa-envelope:hover{
  color: #63ffd9 !important;
}
.fa-github, .fa-whatsapp, .fa-envelope{
  font-size: 22px;
  transition: 0.3s;
}




@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}